.rightDiv{
  text-align: right;
  margin: 8%;
}

.center {
  text-align: center;
}

table, td, th {
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  padding: 15px;
  background-color: #A9A9A9
}

td{
  padding: 15px;
}
