<pre>
  {{order | json}}
</pre>
<div  *ngIf="order">

<p>
  Orders details
</p>

  <div>#Order: {{order.id}}</div>

  <button (click)="changeStatusToInProgress()">In progress</button>
  <button (click)="changeStatusToInDelivery()">In delivery</button>
  <button (click)="changeStatusToDelivered()">Delivered</button>

  <div>{{getDi(order.dishIds)}} </div>

<p>cdcdcdscsdcds</p>
<tr *ngFor="let dishId of order.dishIds">

  <td>{{getDish(dishId)}} </td>


</tr>
</div>


<div class="rightDiv">
  <a routerLink="/listorders/">Back</a>
</div>
