<div *ngIf="order" class = "center">
  <div>#Order: {{order.id}}</div>

  <div class="nextTo">
    <table>
      <tr>
        <td>Dish</td>
        <td>Price</td>
      </tr>
    <tr *ngFor=" let d of order.dishIds">
      <td>{{dishes[d-1].name}}</td>
      <td>{{dishes[d-1].price}}</td>
    </tr>
    </table>


  <table >
    <tr>
      <td>Amount</td>
    </tr>
    <tr  *ngFor=" let a of order.amountDish">
        <td>{{order.amountDish[a-1]}}</td>
    </tr>
  </table>
  </div>

  <div>Price: {{order.price}} PLN</div>

<div> This order is {{order.status}}. </div>
<div> Change order status: </div>

  <button class = "button" (click)="changeStatusToInProgress()">In progress</button>
  <button class = "button" (click)="changeStatusToInDelivery()">In delivery</button>
  <button class = "button" (click)="changeStatusToDelivered()">Delivered</button>

</div>
<div class="rightDiv">
  <a routerLink="/listorders/">Back</a>
</div>
