:host {
  box-sizing: border-box;
  display: none;
  position: absolute;
  width: 60%;
  height: auto;
  padding: 20px 10px;
  background: #A9A9A9;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  margin: 1%;
  border: 1px solid;
  font-family: 'Permanent Marker', cursive;
}

:host.is-open {
  display: block;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #909090;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #808080}

.button:active {
  background-color: #696969;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
