<button [routerLink]="['/listdishes/'] ">Dish list</button>
<button [routerLink]="['/listorders/'] ">Orders</button>
<button (click)="authService.logout()" routerLink="/">Log out</button>

<table>

  <tr>
    <th>Id:</th>
    <th>Type:</th>
    <th>Name:</th>
    <th>Description:</th>
    <th>Availability:</th>
    <th>Details:</th>
  </tr>

  <tr *ngFor="let d of dish">
    <td>{{d.id}}</td>
    <td>{{d.type}}</td>
    <td>{{d.name}}</td>
    <td>{{d.description}}</td>

    <td class="center"><input type="checkbox" name="available" [checked]="d.isAvailable" value="dish.isAvailable"
                              (change)="d.isAvailable = $event.target.checked" (click)="this.changeWhenIsNotAvailability(d)"/>
    </td>

    <td>
      <button [routerLink]="['details/', d.id]" class="button">Details</button>
    </td>
  </tr>

</table>
