<div class="header">Your order</div>

<table class="center" >

  <tr>
    <th class="toLeft">Name:</th>
    <th>Count:</th>
    <th>Price:</th>

  </tr>

  <tr *ngFor="let dish of shoppingCartService.getDishes()" >
    <td>{{dish.name}}</td>
    <td class="toRight"> {{dish.count}} </td>
    <td class="toRight">{{dish.price}}</td>
    <button class="buttonDel" (click)="shoppingCartService.delete(dish)"> - </button>
  </tr>
  <th class="toLeft">Total price:</th>
  <th></th>
  <th class="toRight">{{shoppingCartService.getTotalPrice()}}</th>

</table>


<div class="positionButton">
  <button *ngIf="isClick!=false" class="summary" (click)="hiddenButton()">Summary</button>
</div>

<div id="show" >
  <button id="open" (click)="summaryService.toggle()"><a href="#show">Summary</a></button>
</div>

