<!--The content below is only a placeholder and can be replaced.-->

<div id="container">

  <div class="header">
    <app-top-bar></app-top-bar>
  </div>

  <div class="innercontainer">

    <div class="sidebar" *ngIf="authService.isLogin!=true">
      <app-shopping-cart></app-shopping-cart>
    </div>

    <div class="body">
      <app-summary></app-summary>
      <div *ngIf="authService.isLogin!=true" class="buttons">
        <button class="button" [routerLink]="['/dishes/pizza']">Pizza</button>
        <button class="button" [routerLink]="['/dishes/pasta']">Pasta</button>
        <button class="button" [routerLink]="['/dishes/drink']">Drink</button>

      </div>

      <router-outlet></router-outlet>
    </div>
  </div>
</div>
