.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #909090;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {
  background-color: #808080
}

.button:active {
  background-color: #696969;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin: 5% 30% 5% 35%;
}
