<div class="buttons">
  <button class="button" [routerLink]="['/dishes/pizza']" >Pizza</button>
  <button class="button" [routerLink]="['/dishes/pasta']" >Pasta</button>
  <button class="button" [routerLink]="['/dishes/drink']" >Drink</button>
</div>


<table>

  <tr>
    <th>Name:</th>
    <th>Description:</th>
    <th>Price:</th>
    <th></th>
  </tr>

  <tr *ngFor="let d of dish">
    <td>{{d.name}}</td>
    <td>{{d.description}}</td>
    <td>{{d.price}}</td>
    <button  class="buttonAdd" (click)="addDishToOrder(d)" > + </button>
  </tr>

</table>
