table, td, th {
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

th {
  padding: 15px;
  background-color: #A9A9A9
}

td{
  padding: 15px;
}

.buttonAdd {
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  padding: 8px;
  border-radius: 50%;
  margin: 5px 3px;
  width: 40px;
}
.buttonAdd:hover {background-color: #3e8e41}

.buttonAdd:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px)
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #909090;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #808080}

.button:active {
  background-color: #696969;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.buttons{
  display: flex;
  justify-content: space-between;
  margin: 5% 30% 5% 35%;
}

:host {
  box-sizing: border-box;
  display: none;
  position: absolute;
  flex-grow: 1;
}

:host.is-open {
  display: block;
}

.center {
  margin-left: auto;
  margin-right: auto;
}
.centers {
  margin-left: 20%;
  margin-right: auto;
}
